blockquote{
    border: 2px solid #af22b4;
    font-size: 16px;
    font-style: italic;
    margin: 16px 31px 31px 16px;
    padding: 16px 24px;
    position: relative;
    box-shadow: 15px 15px 0 0 #4d0335;  
}
body{
   background-image: linear-gradient(145deg, #f9a3f9, slateblue, rgb(198, 55, 167));  
}
.basic{
    position: relative;
    padding: 20px 30px;
    background-image: linear-gradient(145deg, #ee82ee, slateblue, #ffd86a, purple);
    margin-top: 30px;
    margin-left: 270px;
    margin-right: 270px;
    margin-block-end: 50px;
    word-wrap:break-word;
    
}
h1{
    text-align: center;
    background-image: linear-gradient(145deg, #ee82ee, slateblue, #ffd86a, purple);
    position: relative;
    padding: 10px 10px;
    border: 2px solid #fff;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-block-end: 10px;
    word-break: break-all;
    text-shadow: 7px 7px 10px bisque;
}
.image{
    margin: 0px 120px ;
}
main{
    display: block;
  
   
}
h2{text-align: center;
}
article{
    display: block;
}
section{
    display: block;
   
}
.font{
   font-size: 20px; 
}
footer{
    position: relative;
    padding: 10px 10px;
    background: rgb(132, 53, 153);
    border: 2px solid #fff;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-block-end: 10px;
    word-break: break-all;
}    


